
.operation-content{
    display: flex;
    border-bottom: 1px solid rgb(211 203 203);
}
.week-day{
    height:50px;
    line-height:50px;
    width:10%;
    border-right: 1px solid rgb(211 203 203);
}

.content-right {
    line-height: 50px;
    width: 90%;
}
.content-right li {
    height:50px;
    width: 19px;
}
.content-right li:hover {
    background-color:#4b86f980;
}
.active {
    background-color:rgb(75 134 249) ;
}
